<%= link_to "Home", '/admin' %>

<h1>Admin Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.genre, admin_category_path(category) %>
    </li>
  <% end %>
</ul>
<%= link_to "Create New Category", new_admin_category_path %>